@model AppDB.Models.Alunos

@{
    ViewData["title"] = "Detalhes do aluno";
}

<h1>Detalhes</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Nome)
        </dt>
        <dt class="col-sm-4">
            @Html.DisplayFor(x => x.Nome)
        </dt>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(x => x.Turma)
        </dt>
        <dt class="col-sm-4">
            @Html.DisplayFor(x => x.Nota1)
        </dt>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(x => x.Nota2)
        </dt>
        <dt class="col-sm-4">
            @Html.DisplayFor(x => x.Nota3)
        </dt>
        <dt class="col-sm-4">
            @Html.DisplayFor(x => x.Faltas)
        </dt>
    </dl>
</div>
<a asp-action="AlterarAluno" asp-route-id="@Model.Id">Alterar</a> |
<a asp-action="Index">Voltar</a>